---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <h1>Title</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro fugiat
        exercitationem qui, officiis, omnis dignissimos pariatur voluptates
        repudiandae aspernatur voluptate perspiciatis incidunt accusantium. Cum
        aliquid voluptatibus fuga ipsa, odit atque!
      </p>
      <Button />
    </Layout>
  </body>
</html>
